ul.list{
  
    width:220px;
    height:330px;
    display:none;
    list-style-type: none;
    position:absolute;
  
    top:11%;
}
li{
    font-size:25px;
    border: 1px solid black;
    position:relative;
    left:-18px;
    
}
#dropdown{
    position:absolute;
    width:150px;
    top:10%;
    left:30px;
}
